@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0; }

body {
  background-color: #19a2ae;
  background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
  background-position: top 50% left -800%, bottom 130% right -800%;
  background-repeat: no-repeat;
  color: #969696;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px; }
